h1 {
    text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: red;
  text-shadow: 2px 2px #000000;
}

video {
		text-align: center;
		margin: 0 auto;
		display: block;
}

#lyrics {
  position: relative;
  text-align: center;
  top: -100px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 2px 2px #000000;
  color: #f7d940;  

}
 
.lenny {
  font-style: italic;
}