.software {
    width:128px; 
    height:240px;
}

@media (min-width: 1200px) {  
.software {
    background: url(software.png)  0px 0px;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {  
.software {
    background: url(software.png) -128px 0px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {  
.software {
    background: url(software.png) -256px 0px;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {  
.software {
    background: url(software.png) -384px 0px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {  
.software {
    background: url(software.png) -512px 0px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {  
.software {
    background: url(software.png)  0px -240px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {  
.software {
    background: url(software.png) -128px -240px;
  }
}

@media (min-width: 500px) and (max-width: 600px) {  
.software {
    background: url(software.png) -256px -240px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {  
.software {
    background: url(software.png) -384px -240px;
  }
}

@media (max-width: 400px) {  
.software {
    background: url(software.png) -512px -240px;
  }
}